$comics_primary: #0282f9;
$comics_secondary: #ffffff;
$comics_dark: #1c1c1c;
$comics_dark_secondary: #303030;
$comics_light: #696969;

header {
    padding-left: 2%;
}

#app_black {
    padding-left: 14%;
}

#app_blue {
    padding-left: 16%;
}

#app_main {
    padding-left: 8%;
}

#app_footer {
    
}


